.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  margin: 10px;
}
.loginWrapper {
  width: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid coral;
  padding: 20px;
}

.loginDesc {
  font-size: 40px;
  font-weight: 700;
  color: coral;
  margin: 10px;
}

.loginInput:focus{
    outline: none;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

.limg{
  width: 180px;
  margin: 10px;
}